@import "tailwindcss";

@layer base {
  html, body, #root {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh;
    /* Sayfanın asıl tabanı bu gri ton olacak */
    background-color: #FAFAFA !important;
    font-family: 'Montserrat', sans-serif;
  }

  main {
    /* PageContent'in arka planı kapatmasını engeller */
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}